/* Import Google Fonts and define custom fonts and colors */
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rock+Salt&display=swap');

:root {
    --primary-color: #75b9be;
    --secondary-color: #a8ccc9;
    --accent1-color: #b3d6c6;
    --accent2-color: white;
    --heading-font: "Rock Salt"; /* Corrected the font name */
    --paragraph-font: 'Roboto', Helvetica, sans-serif;

    --headline-color-on-white: #a8ccc9;
    --headline-color-on-color: white;
    --paragraph-color-on-white: #396E94;
    --paragraph-color-on-color: white;
    --paragraph-background-color: #396E94;
    --nav-link-color: #396E94;
    --nav-background-color: #D4AC0D;
    --nav-hover-link-color: white;
    --nav-hover-background-color: #396E94;
}

/* Apply styles to elements */
#content {
    max-width: 1600px;
    margin: 0 auto;
}

nav a,
#hero-msg h1, #hero-msg h4,
.button-box,
main section {
    text-align: center;
}

#background {
    height: 725px;
}

body {
    background-color: #fcfbfb; /* Your background color for the body */
}

header {
    background-color: rgba(20, 30, 13, 0.7); /* Your background color for the header */
}

nav a:hover {
    background-color: black; /* Your background color for hovered navigation links */
}

.book, .join,
.book:hover, .join:hover {
    background-color: var(--nav-background-color); /* Your background color for book and join elements */
}

#background {
    background-color: var(--nav-background-color); /* Your background color for the background container */
}

.msg {
    background-color: var(--paragraph-background-color); /* Your background color for the message section */
}

footer {
    background-color: var(--nav-hover-background-color); /* Your background color for the footer */
}

